<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		xmlns:android   = "http://schemas.android.com/apk/res/android"
        id          = "co.za.cof.app"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>COF</name>

    <description>
	
	Your free online job hunting solutions by CodeWorks and Cardiac Osirus foundation.
    </description>

	<icon src="mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
	<icon src="hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
	<icon src="xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
	<icon src="xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi" />	
	
	
	


	<feature name="http://api.phonegap.com/1.0/notification" />
	<feature name="http://api.phonegap.com/1.0/network" />

    <author href="https://build.phonegap.com" email="support@phonegap.com">
       Nicholas Tebogo Letsoalo @ CodeWorks and partners.
    </author>

</widget>
